BasedOnStyle: LLVM
Language: Cpp
Standard: c++11
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Preserve