/ {
  zephyr,user {
    tck-gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
    tdo-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
    tdi-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
    tms-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
    trst-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
    srst-gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
  };
};

&usb {
  status = "okay";
};
